/* Colors
========================================================================== */
$color_blue_1: #162447;
$color_blue_2: #1f4068;
$color_blue_3: #1b1b2f;

$color_red_1: #e43f5a;

$color_light_1: #FFFFFF;
$color_light_2: #FAFAFA;
$color_light_3: #EBEBEB;
$color_light_4: #D2D2D2;

/* Fonts
========================================================================== */
$font_normal: 'Raleway' arial sans-serif;
$font_primary: 'Open Sans' arial sans-serif;

/* Box shadow
========================================================================== */


/* Animations
========================================================================== */
$transition_speed:      200ms;

/* Gaps and sizes
========================================================================== */


